


.checkers:checked + label{
    text-decoration: line-through;
}
hr.dotted {
    border-top: 10px dotted grey;
  }
.overAll{
    width: 960px;
    display: grid;
    grid-template-areas: 'navLeft navRight'
                         'titleArea titleArea titleArea'
                         'biggie'
                         'recipeBox'
                         'leftBottom middleBottom bottomRight'
                         'bottomStuff';
}
.navyLeft{
    grid-area: navLeft;
    width: 50%;
}
.navyRight{
    grid-area: navRight;
    width: 50%;
}
.top{
    grid-area: titleArea;
    width: 50%;
}
.biggie{
    grid-area: biggie;
    width: 960px;
}
.leftBox{ 
background-color: blue;}
.rightBox{ 
    background-color:yellow;}
.leftBottom{ grid-area: leftBottom;}
.middleBottom{ grid-area: middleBottom;}
.rightBottom{ grid-area: rightBottom;}
#bottomStuff{ grid-area: bottomStuff;}
.recipeBox{
    background-image: url(assets/list-bg.png);
    background-color:pink;
    grid-area: recipeBox;
width: 960px;}
.icon{
    display: inline;
}
.row:before, 
.row:after {
    content:"";
    display: table ;
    clear:both;
}
ul {
    display: inline;
}